@media(max-width:900px){
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .box{
        display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

    }
    .content{
        display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

    }
    header img{
       width: 350px;
        background-position: center;
            background-size: cover;
    }
    footer {
        width: 100%;
        display: flex;
            justify-content: center;
            flex-direction: column;
    }
    .final{
        display: flex;
        align-items: center;
            justify-content: center;
            flex-direction: column;
    }
    p{
      width: 300px;
    }
        .card3{
            width: 300px;
        }
        .btn{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .gif img{
            width: 200px;
        }
        .card{
            width: 250px;

        }
 
}